<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<p>
    <form method="post" action="/actions">
        First name:<br>
        <input type="text" name="firstname" value="{{ data[0]['first name'] }}"><br>
        Last name:<br>
        <input type="text" name="lastname" value="{{ data[0]['last name'] }}"><br><br>
        <input type="submit" name="action" value="Add">
        <input type="submit" name="action" value="Update">
        <input type="submit" name="action" value="Delete">
        <input type="submit" name="action" value="Filter">
        <input type="submit" name="action" value="All">
    </form>
    <p>Message : {{ message }}</p>
    <p>Data: {% for user in data %}
       <ul>
            {% for key, value in user.items() %}
           <li>
            {{ key }} : {{ value }}
           </li>
            {% endfor %}
       </ul>
    {% endfor %}
    </p>
</body>
</html>